<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" color="tertiary" (click)="openGameSelectionModal(totalGameList)"
        ><ion-icon name="shuffle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Board Game Geek App</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="tertiary" (click)="shareList()"
        ><ion-icon name="share-social-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-grid>
      <ion-row>
        <ion-input
          type="text"
          placeholder="Enter Username"
          [clearInput]="true"
          fill="solid"
          [(ngModel)]="username"
          name="username"
          style="height: 100%"
          enterkeyhint="send"
          [class.error]="errorMessage"
          (keyup.enter)="askForLogin(username)"
        ></ion-input>
      </ion-row>
    </ion-grid>
  </div>
  <div style="display: flex; flex-direction: row; gap: 10px">
    <div *ngFor="let user of usernameColors">
      <ion-button
        size="small"
        (click)="removeUser(user.username)"
        [ngStyle]="{ '--background': getColorForUsername(user.username), 'color': 'black'}"
        >{{ user.username }} x</ion-button
      >
    </div>
  </div>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="header-list"><ion-icon name="image-outline"></ion-icon></ion-col>
          <ion-col class="header-list" size="5" (click)="sort('name')">Name</ion-col>
          <ion-col class="header-list" id="min-player-icon"
            ><ion-icon
              (click)="sort('minplayers')"
              title="Minimal Player"
              name="person-outline"
            ></ion-icon
          ></ion-col>
          <ion-col class="header-list" id="max-player-icon"
            ><ion-icon
              (click)="sort('maxplayers')"
              title="Maximal Player"
              name="people-outline"
            ></ion-icon>
          </ion-col>
          <ion-col class="header-list hideColumn" id="min-playtime-icon"
            ><ion-icon
              (click)="sort('minplaytime')"
              title="Minimal Playtime"
              name="time-outline"
            ></ion-icon
          ></ion-col>
          <ion-col class="header-list" id="max-playtime-icon"
            ><ion-icon (click)="sort('maxplayers')" title="Maximal Playtime" name="time"></ion-icon
          ></ion-col>
          <ion-col class="header-list hideColumn" id="year-published-icon"
            ><ion-icon
              (click)="sort('yearpublished')"
              title="Year Published"
              name="calendar-outline"
            ></ion-icon
          ></ion-col>
          <ion-col class="header-list hideColumn" id="location">
            <ion-icon (click)="sort('inventorylocation')" title="Location" name="grid"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item
      *ngFor="let game of totalGameList?.items | sort: {property: column, order: order}"
      [ngStyle]="{ '--ion-item-background': getColorForUsername(game.user) }"
    >
      <ion-grid>
        <ion-row (click)="selectGame(game)">
          <ion-col style="margin-right: 10px" size="2">
            <ion-thumbnail> <img alt="" src="{{game.thumbnail}}" /> </ion-thumbnail
          ></ion-col>
          <ion-col class="game-name" size="5">{{game.name}}</ion-col>
          <ion-col>{{game.minplayers}}</ion-col>
          <ion-col>{{game.maxplayers}}</ion-col>
          <ion-col class="hideColumn">{{game.minplaytime}}</ion-col>
          <ion-col>{{game.maxplaytime}}</ion-col>
          <ion-col class="hideColumn">{{game.yearpublished}}</ion-col>
          <ion-col class="hideColumn">{{game.privateInfo?.$?.inventorylocation}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
