<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()" aria-label="Cancel Login">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" aria-label="Confirm Login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Username" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Password" [(ngModel)]="password"></ion-input>
  </ion-item>
</ion-content>
