<ion-header>
  <ion-toolbar>
    <ion-title>Random Game</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      label="Numbers of Players"
      [(ngModel)]="numberOfPlayers"
      type="number"
    ></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchGame(numberOfPlayers)"
    >Search</ion-button
  >

  <div *ngIf="selectedGame" class="center-content">
    <h2>{{ selectedGame.name }}</h2>
    <img [src]="selectedGame.thumbnail" (click)="listPage.clickGameRow(selectedGame)" alt="{{ selectedGame.name }}" />
  </div>
</ion-content>
