<ion-header>
  <ion-toolbar>
    <ion-title id="random-game-title"
      >Random Game<ion-icon name="shuffle-outline"></ion-icon
    ></ion-title>
    <ion-buttons slot="end">
      <ion-button class="highlight-box" (click)="closeModal()" aria-label="Close Modal"
        >X</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      class="highlight-box"
      style="--highlight-color: var(--ion-color-highlight); --padding-start: 3px"
      label="Numbers of Players"
      labelPlacement="stacked"
      [(ngModel)]="numberOfPlayers"
      type="number"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      class="highlight-box"
      style="--highlight-color: var(--ion-color-highlight); --padding-start: 3px"
      label="Play Time in Minutes"
      labelPlacement="stacked"
      [(ngModel)]="playTime"
      type="number"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      class="highlight-box"
      style="--highlight-color: var(--ion-color-highlight); --padding-start: 3px"
      label="Minimum Rating (0-10)"
      label="Minimum Rating (0-10)"
      labelPlacement="stacked"
      [(ngModel)]="rating"
      type="number"
    ></ion-input>
  </ion-item>

  <ion-button
    class="highlight-box"
    expand="full"
    (click)="searchGame(numberOfPlayers, playTime)"
    aria-label="Search for a game"
  >
    Search <ion-icon style="padding-left: 0.5em" name="search-outline"></ion-icon>
  </ion-button>

  <div *ngIf="selectedGame" class="center-content" aria-live="polite">
    <h2>{{ selectedGame.name }}</h2>
    <img
      [src]="selectedGame.thumbnail"
      (click)="listPage.selectGame(selectedGame)"
      alt="{{ selectedGame.name }}"
    />
  </div>
</ion-content>
